<!DOCTYPE html>
<html>
<head>
	<title>Grab Document</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="icon" href="data:,">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
</head>
<body>

<div class="box">
    <input type="button" id="selectImage" value="Select Image" onclick="document.getElementById('imageinput').click();" />
	<input id="imageinput" style="display:none;" type="file" name="image" onchange="readUrl(this)">
	<button name="Segment" id = "sendbutton">Grab Document</button>
    <hr>
    <div id='leftbox'>
	  <img id="imagebox" src="">
      <div id='leftboxtext' class="centered">Original</div>
    </div>
    <div id='rightbox'>
	  <img id="imagebox1" src="">
      <div id='rightboxtext' class="centered">Grabed</div>
    </div>
	
</div>

</body>
</html>
